canvas{
    /* image-rendering: pixelated;  */
  border: 2px solid #333333;

    background-color: black;
    /* cursor: none; */
    z-index: 100;
    margin-top:20px;
    margin-left:20px;
}
#buttons{
    margin-top:20px;
    margin-left:20px;
    height:20px;
}
button{
    border: 2px solid #333333;
    height:40px;
    width:160px;
    background-color: #000000;
    color:#333;
    font-size: 20px;
    transition: 0.2s;
    margin-right:20px;
}
button:hover{
    color:#555;
    border: 2px solid #555;
    background-color: #111;
}
button:active{
    color:#777;
    border: 2px solid #777;
    background-color: #333;
}
html{
    background-color: #000000;
}