canvas{
    border: 2px solid #333333;
    background-color: black;
    z-index: 100;
}
#buttons{
    margin-top:20px;
    margin-bottom:20px;
    height:500px;
    width: calc(100vw - 1020px);
}
button{
    border: 2px solid #333333;
    height:calc( calc(100vw - 930px) / 2.5);
    width:calc( calc(100vw - 930px) / 2.5);
    background-color: #000000;
    color:#333;
    margin-bottom:20px;
    margin-left:20px;
    font-size: 30px;
    transition: 0.2s;
}
button:hover{
    color:#555;
    border: 2px solid #555;
    background-color: #111;
}
button:active{
    color:#777;
    border: 2px solid #777;
    background-color: #333;
}
html{
    background-color: #000000;
}
body{
    display:flex;
}
#canvasDiv{
    margin-left:20px;
    margin-top:20px;
}